backend/Lib/
backend/Lib/*
backend/Include/
backend/Include/*
backend/Scripts/
backend/Scripts/*
backend/tcl/
backend/tcl/*

frontend/.vscode
frontend/.vscode/*
frontend/e2e/
frontend/e2e/*
frontend/node_modules/
frontend/node_modules/*

frontend/.metadata/*
backend/pyvenv.cfg
