backend/python/Lib/
backend/python/Include/
backend/python/Scripts/
backend/python/tcl/
backend/python/pyvenv.cfg

backend/laravel/vendor/

frontend/.vscode
frontend/e2e/
frontend/node_modules/
frontend/.metadata/

*.sqlite