
<div id="hero-image">
    <div class="hero-text">
        <h1>From Spain to Everywhere</h1>
        
        
      </div>
</div>

<div id="primary-content">
    <div class="wrapper">
    <article>
        <h3>¿Quienes somos?</h3>
        <p>FMG Technologies crea Traveloh como propuesta de solución a uno de los mayores problemas de nuestro día a día: La gestión del tiempo<br>Por ello, hemos llevado a
            cabo una aplicación web que nos permita acceder a toda la información relevante sobre los vuelos de los principales aeropuertos de España.<br><br>
            A continuación les ofrecemos nuestro buscador de vuelos FMG Technologies. Si su vuelo no se encuentra en nuestro sistema,<br>
             porfavor, póngase en contacto con un administrador.
        </p>
        
    </article>
</div>
    
</div>


<form class="container mt-3" >
    <div class="form-group">
        <label>Numero de vuelo</label>
        <input type="text" class="form-control" id="usr" #fligtcode />
    
        <input (click)="searchFlight(fligtcode.value)" class="btn btn-primary text-center mt-3" type="button" value="Buscar" >
        <br><br>
    </div>
   
</form>