<div>
    <br><br><br><br>
    <h3>Bienvenido a FMG Analyzer</h3>
  
        <div  class="texto1">
            <strong><p>El Analisis de Sentimiento es el proceso de determinar el tono emocional que hay detrás de una serie de palabras, y 
                se utiliza para intentar entender las actitudes, opiniones y emociones expresadas en una mención online.</p></strong>
            <p>En muchas ocasiones, cuando hablamos de reputación online, aparece el concepto de “análisis de sentimiento” pero, ¿sabemos realmente qué significa? El análisis de sentimiento se refiere a los diferentes métodos de lingüística computacional que ayudan a identificar y 
            extraer información subjetiva del contenido existente en el mundo digital (redes sociales, foros, webs, etc.). 
            Gracias al análisis del sentimiento, podemos ser capaces de extraer un valor tangible y directo, como puede ser determinar si un texto extraído de la red Internet contiene connotaciones positivas o negativas.</p>
            <p>El análisis de sentimientos, también conocido como minería de opinión, se trata de una tarea de clasificación masiva de documentos de manera automática, que se centra en catalogar los documentos en función de la connotación positiva o negativa del lenguaje ocupado en el mismo.</p>
        </div>
    <a href="/analyse"><button id="but1">Ir al analisis</button></a>

</div>
