<form class="formulario">
    <!-- Progress bar 1 -->
       <div class="progress mx-auto" data-value='40'>
          <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
          </span>
          <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
          </span>
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold">70<sup class="small">%</sup></div>
          </div>
        </div>
        <!-- END -->

        <!-- Demo info -->
        <div class="row text-center mt-4">
          <div class="col-4 border-right">
            <div class="h4 font-weight-bold mb-0 positive-compound"></div><span class="small text-gray">Positivo</span>
          </div>
          <div class="col-4 border-right">
            <div class="h4 font-weight-bold mb-0 neutral-compound"></div><span class="small text-gray">Neutro</span>
          </div>
          <div class="col-4">
            <div class="h4 font-weight-bold mb-0 negative-compound"></div><span class="small text-gray">Negativo</span>
          </div>
        </div>
        <!-- END -->

        <div>
	        <input id="miTexto" type="text" name="miTexto" [(ngModel)]="miTexto">
	        <input type="submit" (click)="analyse()" value="Analizar">
	    </div>  
</form>
