<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.pngitem.com/pimgs/m/247-2472306_admin-anonymous-person-icon-hd-png-download.png" id="icon" alt="User Icon" />
        <h1>Acceso Administradores</h1>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" #user>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" #password>
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="checkLogin(user.value, password.value)">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/" routerLinkActive="active">Volver</a>
      </div>

    </div>
  </div>
