/* You can add global styles to this file, and also import other style files */

$color-principal: #1976d2;
$tipo-fuente: Arial;
$estilo-fuente: italic;

.nav-item{
    padding:2px;
    margin-left: 7px;
}

footer {
    font-style: $estilo-fuente;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.formulario {
    position: absolute;
    left: 40%;
    top: 50%;

}

div{
    text-align: center;
    font-family: $tipo-fuente;
}

h1{
    
    height: 0 75px;
    color: $color-principal;
    font-size: 100px;
}

h2{
    font-style: $estilo-fuente;
    font-size: 25px;
}

#btn1{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#btn1:hover {
    background-color: #008CBA;
    color: white;
}
