certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
googletrans==2.4.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
nltk==3.4.5
requests==2.22.0
six==1.14.0
textblob==0.15.3
urllib3==1.25.8
vaderSentiment==3.2.1
Werkzeug==1.0.0
beautifulsoup4==4.8.2
selenium==3.141.0
selenium-wire==1.0.11
webdriver-manager==2.3.0
chromedriver-py==81.0.4044.69