<<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span> Traveloh</span> Toda la información que siempre has necesitado para tus viajes, en una misma página.
    </p>
   
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> Universidad Europea de Madrid</span> Madrid, España</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> 986876753</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#"> info@fmgtech.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <h2> FMG<span> Technologies </span></h2>
    <p class="menu">
      <a routerLink="/" routerLinkActive="active"> Inicio</a> |
      <a routerLink="/browse" routerLinkActive="active"> Browser</a> |
      <a routerLink="/login" routerLinkActive="active"> Login</a> |
    </p>
    <p class="name"> FMG Technologies &copy; 2020</p>
  </div>
</footer>